<%- include('partials/header.ejs') %>
  <body>
    <form method="POST" action="/users/test">
        <input type="text" name="name" placeholder="digite seu nome" />
        <input type="email" name="email" placeholder="digite seu email" />
        <input type="password" name="password" placeholder="digite sua senha" />

        <button type="submit">Cadastrar</button>
    </form>
  </body>
</html>
