<%- include('partials/header.ejs') %>
  <body>
    <div class="container">
      <h1>Project using EJS</h1>

      <form class="form-container">
        <input 
        type="text" 
        name="username" 
        placeholder="Digite seu nome de usuário"
        class="ip"
        />
        <input 
        type="password"
        name="password" 
        placeholder="Digite sua senha"
        class="ip"
        />

        <button type="submit" class="btn-enter">Entrar</button>
      </form>
    </div>
  </body>
  <%- include('partials/scripts.ejs') %>
</html>
